node_modules
.next
.turbo
.vercel
coverage
dist
out
build

package-lock.json
next-env.d.ts

*.pem
*.key
*.p12
*.pfx
*.cert
*.crt
*.keystore
*.jks

.vaultlier
.vaultlier.local
.vaultlierrc
vaultlier.local.json
**/.vaultlier-cache
